.header {
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  &__assets {
   &-text {
      color: white;
      font-weight: bold;
    }
  }
 &__totalCounts{
   display: inline-block;
   justify-content: flex-end;
   flex-direction: column;
   flex-wrap: nowrap;
   &-text{
     color: white;
     font-weight: bold;
   }
 }
  &__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    &:active{
      color: red;
    }
  }
}